quickstart-spring-framework/src/main/resources/META-INF/quickstart.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns="http://code.quickstart.org/schema/quickstart"
	targetNamespace="http://code.quickstart.org/schema/quickstart"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import
		namespace="http://www.springframework.org/schema/beans" />
	<xsd:import
		namespace="http://www.springframework.org/schema/tool" />

	<xsd:element name="datasource"
		type="abstractDatasourceType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ Datasource service config ]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="abstractDatasourceType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="url" type="xsd:string"
					use="required" />
				<xsd:attribute name="userName" type="xsd:string"
					use="required" />
				<xsd:attribute name="password" type="xsd:string"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>